<%- include('../partials/header') %>
<h1>Cluckr Posts</h1>
<a href="/index/form">Create a New Blog Post</a>
<% for (let cluck of clucks) { %> 
    <a href="/clucks/<%= cluck.id %>"><h2><%= cluck.username %></h2></a>
    <p><%= cluck.content %></p>
    <img src="<%= cluck.imageUrl %>" style="max-width: 100%; max-height: 90vh; border-radius: 5px;">
<% } %>
<% include('../partials/footer') %>